<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.6.0/dist/echarts.min.js"></script>

    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
    <style>
      #main{
        text-align: center;
        margin: 0 auto;
      }
    </style>
</head>
<body>
    <h1>PM2.5</h1>
    <h4>{{datas[0][4]}}</h4>

    <div id="main" style="width: 800px;height:400px;"></div>



    <a class="btn-update" href="/update-db">update_date</a>

    <form action="/" method="get">
        <label for="">choice the county</label>
        <select name="county" id="county">
            <option value="ALL">ALL county</option>
            {% for county in counties %}
            <option value="{{county}}"  {% if selected_county == county %} selected {% endif %}  >{{county}}</option>
            {% endfor %}


        </select>
        <button type="submit"> Start </button>
    </form>
    
    <a href="/pm25-site">datas</a>


    <div id="chart_data"
        data-labels='{{x_data | tojson | safe }}' data-values='{{y_data | tojson | safe }}'>
    </div>
    


    <h2 style="text-align: left;">Choice county : {{selected_county}}</h2>
    <table border="1">
        <thead>
            <tr style="background-color: aqua;">
                {% for col in columns[1:] %}
                <th>{{col}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in datas %}
            <tr>
                {% for data in row[1:] %}
                <td>{{data}}</td>
                {% endfor %}
            </tr>
            
            {% endfor %}
        </tbody>



    </table>
   


    <script type="text/javascript">


        const chartdata= document.querySelector("#chart_data");
        const labels=JSON.parse(chartdata.dataset.labels);
        const values=JSON.parse(chartdata.dataset.values);
        
        // console.log(chartdata,labels,values);
        





        var myChart = echarts.init(document.getElementById('main'));
        var option = {
          title: {
            text: 'PM2.5 matplot'
          },
          tooltip: {},
          legend: {
            data: ['PM25']
          },
          xAxis: {
            data: labels
          },
          dataZoom:[{
            type:'slider',
            start:0,
            end:100
          }],


          yAxis: {},
          series: [
            {
              name: 'PM25',
              type: 'bar',
              data: values
            }
          ]
        };
  
        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
      </script>



</body>
</html>