<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <style>
        body{
            text-align: center;
            background-color: rgb(228, 215, 215);
            

        }
        table{
            width: 80%;
            margin: 0 auto;
        }
       
    </style>
</head>
<body>
    <h1>PM2.5</h1>
    <a href="/update-db">update_date</a>
    <table border="1">
        <thead>
            <tr style="background-color: aqua;">
                {% for col in columns[1:] %}
                <th>{{col}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in datas %}
            <tr>
                {% for data in row[1:] %}
                <td>{{data}}</td>
                {% endfor %}
            </tr>
            
            {% endfor %}
        </tbody>



    </table>
   
    



</body>
</html>