<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://cdn.jsdelivr.net/npm/echarts@5.6.0/dist/echarts.min.js"></script>

    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
    <style>
      #main{
        text-align: center;
        margin: 0 auto;
      }
    </style>
</head>
<body>
    <h1>PM2.5</h1>
    <h3>choice county</h3>


    <select name="county" id="county">
        {% for county in counties%}
        <option value="{{county}}">{{county}}</option>
       
        {% endfor %}
    </select>

    <h3>choice site</h3>
    <select name="site" id="site">
        <option value="林口">林口</option>
        <option value="富貴角">富貴角</option>

    </select>
    
    <p><button  type="submit" onclick="query()">Start</button></p>

    <div id="main" style="width: 800px;height:400px;"></div>
   

<script>

    const countyEl= document.querySelector('#county');
    const siteEl= document.querySelector("#site");
    const chart1 = echarts.init(document.getElementById('main'));


    countyEl.addEventListener("change",()=>{
        let county=countyEl.value;
        console.log(county);
        
        const url=`/pm25-county-site?county=${county}`

        fetch(url)
        .then(res=>res.json())
        .then(data=>{
            console.log(data);
            //siteEl.innerHTML="";

            // for(let i=0;i<data.length;i++){
            //     const opt=document.createElement("option");
            //     opt.value=data[i];
            //     opt.textContent=data[i];
            //     siteEl.appendChild(opt);
            // }


            drawChart(chart1,data.site,data.x_data,data.y_data);
            
        });

    });





    function drawChart(chart,site,labels,values){
        
        var option = {
          title: {
            text: `${site}PM2.5 matplot`
          },
          tooltip: {},
          legend: {
            data: ['PM25']
          },
          xAxis: {
            data: labels
          },
          dataZoom:[{
            type:'slider',
            start:0,
            end:100
          }],


          yAxis: {},
          series: [
            {
              name: 'PM25',
              type: 'line',
              smooth: true,
              data: values
            }
          ]
        };
  
        // 使用刚指定的配置项和数据显示图表。
        chart.setOption(option);
    }

    function query(){
        let county=countyEl.value
        let site=siteEl.value
        const url=`/pm25-data-site?county=${county}&site=${site}`

        fetch(url)
        .then(res=>res.json())
        .then(data=>{
            console.log(data);


            drawChart(chart1,data.site,data.x_data,data.y_data);
            
        });


        console.log(countyEl.value,siteEl.value,url);
        
        
    }
    



</script>
</body>
</html>